<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Finalizar Ciclo - Relatório</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<section class="d-flex justify-content-center mt-5 mb-5">
    <div class="card shadow-sm p-4 col-12 col-md-6 col-lg-4">
        <h2 class="mb-3">Finalizar Ciclo - Criar Relatório</h2>

        <!-- Alerta de erro -->
        <div th:if="${erro}" class="alert alert-danger" role="alert">
            <p th:text="${erro}"></p>
        </div>

        <!-- Formulário -->
        <form th:action="@{/fazenda/{id}/viveiro/{idViveiro}/ciclo/finalizar(id=${idFazenda}, idViveiro=${idViveiro})}"
              method="post">

            <div class="form-group">
                <label for="dia" class="form-label">Data da Venda</label>
                <div class="d-flex mb-3">
                    <input type="number" class="form-control me-2" id="dia" name="dia"
                           placeholder="dd" min="1" max="31" required style="width: 30%;">
                    <input type="number" class="form-control me-2" id="mes" name="mes"
                           placeholder="mm" min="1" max="12" required style="width: 30%;">
                    <input type="number" class="form-control" id="ano" name="ano"
                           placeholder="aaaa" min="1900" max="2100" required style="width: 30%;">
                </div>
            </div>

            <div class="mb-3">
                <label for="precoVenda" class="form-label">Valor de Venda
                    <span class="text-muted" style="font-size: 0.9rem;">(R$)</span>
                </label>
                <input type="number" class="form-control" id="precoVenda" name="precoVenda"
                       step="1" min="1" required placeholder=" Valor total da Venda">
            </div>

            <div class="mb-3">
                <label for="biometriaFinal" class="form-label">Biometria Final
                    <span class="text-muted" style="font-size: 0.9rem;">(g/camarão)</span>
                </label>
                <input type="number" class="form-control" id="biometriaFinal" name="biometriaFinal"
                       step="0.01" min="0.01" required placeholder=" Massa final de cada indivíduo">
            </div>

            <div class="mb-3">
                <label for="biomassaFinal" class="form-label">Biomassa Total
                    <span class="text-muted" style="font-size: 0.9rem;">(kg)</span>
                </label>
                <input type="number" class="form-control" id="biomassaFinal" name="biomassaFinal"
                       step="0.01" min="0.01" required placeholder=" Biomassa total da venda">
            </div>

            <!-- Botões -->
            <div class="d-flex justify-content-end gap-2">
                <a th:href="@{/fazenda/{id}/viveiro/{idViveiro}/abrirViveiro(id=${idFazenda}, idViveiro=${idViveiro})}"
                   class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-success">Finalizar</button>
            </div>
        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
